body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: grey;
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
  background-color: white;
}

p {
  margin-top: 0;
  margin-bottom: 0.1rem;
  padding: 0 4rem;
}

a {
  color: #8abbd3;
  white-space: nowrap;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #868fb1;
}

ul {
  padding-left: 2rem;
}

ul li::before {
  color: #8abbd3;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  
}

.demo-mode .info {
  display: none;
}

.demo-mode.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  position: relative;
  z-index: 1;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 0.5rem;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  margin-top: 1rem;
  padding: 0 1rem;
}

.canvas {
  position: relative;
  max-width: 46rem;
  width: 100%;
  display: block;
  height: auto;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  backface-visibility: hidden;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loading-screen {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: white;
  color: #8abbd3;
  transform: translateZ(50px);
  transition: 0.25s ease all 0.75s;
}

.loading-screen.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateZ(0);
}

.version {
  position: absolute;
  bottom: 0;
  left: 0;
}

.allow-motion-button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  padding: 1rem;
  color: white;
  background-color: #8abbd3;
  border: 2px solid #8abbd3;
  border-radius: 2rem;
}

.allow-motion-button.visible {
  visibility: visible;
  opacity: 1;
}

.title {
  font-weight: 700;
  color: #8abbd3;
}

.only-mobile {
  display: none;

}

@media screen and (max-width: 37rem) {
  body {
    font-size: 0.9rem;
  }

  .title {
    margin-top: 1rem;
  }

  .canvas {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-height: 50rem) {
  .canvas {
    width: auto;
    max-height: 50vh;
    margin: 0 auto;
  }
}

@media screen and (max-height: 33rem) {
  .canvas {
    max-width: 88%;
    height: auto;
    margin: 0 auto;
  }
  }


@media only screen and (hover: none) and (pointer: coarse) {
  .only-mobile {
    display: block;
  }

  .only-desktop {
    display: none;
  }
}

@media (orientation: landscape) {
  .image-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .canvas {
    width: 50%;
    max-height: 100%;
    height: auto;
    margin-top: 0;
  }
}